@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centrar el formulario */
    align-items: center; /* Centrar verticalmente */
    background-color: #f4f4f4;
}

form {
    width: 100%; /* Ocupar el ancho completo del contenedor */
    max-width: 500px; /* Limite para que no sea demasiado grande */
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: flex;
    flex-direction: column; /* Asegura que los elementos están en columna */
}

form h2 {
    font-size: 22px;
    color: hsl(0, 0%, 20%);
    text-align: center;
    margin-bottom: 15px;
}

form p {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    padding-left: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

form button {
    width: 100%;
    background: #ff5733;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #e04a2b;
}
