@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100dvh;
    overflow: hidden;
}

.slider {
    display: flex;
}

.slide {
    flex-shrink: 0;
    width: 100vw;
    height: 100dvh;
    background-color: #1E293B;
    display: grid;
    grid-template-rows: 60% 1fr 1fr 1fr;
    text-align: center;
    color: white;
    padding: 20px; /* Espaciado en toda la diapositiva */
}

.slide-box-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-width: 90%;
    max-height: 90%;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
}

button {
    width: 300px;
    padding: 15px;
    background-color: #10B981;
    margin: auto;
    border: none;
    border-radius: 13px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0e9a6e;
}

/* ................................................................. */

form {
    width: 100vw;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    flex-shrink: 0;;
}

form h2 {
    font-size: 22px;
    color: hsl(0, 0%, 20%);
    text-align: center;
    margin-bottom: 15px;
}

form p {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    padding-left: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

form button {
    width: 100%;
    background: #ff5733;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #e04a2b;
}
